<div class="container top-spaced">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="card">
        <form class="card-content center-aligned" name="signinForm" ng-submit="submit($event)">
          <h1>Sign In</h1>
          <div class="form-group" ng-class="{'has-error': !signinForm.userid.$valid && userIdBlurred}">
            <input type="text" class="form-control input-lg" name="userid" id="username_input" placeholder="Username or Email" ng-model="userid" required ng-pattern="/(^[a-zA-Z0-9\-\_\.]{2,16}$)|(^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$)/" ng-blur="userIdBlurred = true">
            <span ng-show="signinForm.userid.$error.required && userIdBlurred" class="help-block">Required.</span>
            <span ng-show="signinForm.userid.$error.pattern && userIdBlurred" class="help-block">Please enter a valid user name or email.</span>
          </div>
          <div class="form-group" ng-class="{'has-error': !signinForm.password.$valid && passwordBlurred}">
            <input type="password" class="form-control input-lg" name="password" id="password_input" placeholder="Password" ng-model="password" required ng-minlength="6" ng-maxlength="20" ng-blur="passwordBlurred = true">
            <span ng-show="signinForm.password.$error.required && passwordBlurred" class="help-block">Required.</span>
            <span ng-show="(signinForm.password.$error.minlength || signinForm.password.$error.maxlength) && passwordBlurred" class="help-block">Your password is 6~20 characters long.</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-lg btn-block" ng-class="{disabled: !signinForm.$valid}">Sign in</button>
            <a class="btn btn-primary btn-lg btn-block" href="/your_oauth_url">Sign in with Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
