<div class="container top-spaced">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <form class="card-content center-aligned" name="sudoForm" ng-submit="submit($event)">
          <h1>Confirm your password</h1>
          <h3>{{user.name}}</h3>
          <div class="form-group" ng-class="{'has-error': !sudoForm.password.$valid && passwordBlurred}">
            <input type="password" class="form-control input-lg" name="password" id="password_input" placeholder="Password" ng-model="password" required ng-minlength="6" ng-maxlength="20" ng-blur="passwordBlurred = true">
            <span ng-show="sudoForm.password.$error.required && passwordBlurred" class="help-block">Required.</span>
            <span ng-show="(sudoForm.password.$error.minlength || sudoForm.password.$error.maxlength) && passwordBlurred" class="help-block">Your password is 6~20 characters long.</span>
            <span class="help-block">You are entering sudo mode. We won't ask your password again in one hour.</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-class="{disabled: !sudoForm.$valid}">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
